:root {
  --off-white: #F5F7FB;
  --blob-yellow: #FFFAD1;
  --blob-blue: #DEEBF8;
  --font-color: #293264;
  --button-blue: #4D5B9E;
  --selected-answer: #D6DBF5;
  --corrent-answer: #94D7A2;
  --wrong-answer: #F8BCBC;
  --question-divider: #DBDEF0;
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
}

