:root {
  --off-white: #F5F7FB;
  --blob-yellow: #FFFAD1;
  --blob-blue: #49749e;
  --font-color: #293264;
  --button-blue: #4D5B9E;
  --selected-answer: #D6DBF5;
  --corrent-answer: #94D7A2;
  --wrong-answer: #F8BCBC;
  --question-divider: #DBDEF0;
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  color: var(--font-color);
  background-color: var(--off-white);
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.blob-yellow {
  position: absolute;
  width: 250px;
  height: 250px;
  top: -100px;
  right: -100px;
  background-color: var(--blob-yellow);
  z-index: -1;
  mix-blend-mode: color;
  animation: blob-yellow 15s ease-in-out infinite alternate
}

@keyframes blob-yellow {
  0%{border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%}
  10%{border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%}
  20%{border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%}
  30%{border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%}
  40%{border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%}
  50%{border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%}
  60%{border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%}
  70%{border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%}
  80%{border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%}
  90%{border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%}
  100%{border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%}
  }
  
.blob-blue {
  position: absolute;
  width: 250px;
  height: 250px;
  left: -100px;
  bottom: -100px;
  background-color: var(--blob-blue);
  border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  z-index: -2;
  mix-blend-mode: color-burn;
  animation: blob-blue 15s ease-in-out infinite alternate
}

@keyframes blob-blue {
  100%{border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%}
  90%{border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%}
  80%{border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%}
  70%{border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%}
  60%{border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%}
  50%{border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%}
  40%{border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%}
  30%{border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%}
  20%{border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%}
  10%{border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%}
  0%{border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%}
  }

.start-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  padding: 20px;
}

.start-div h1 {
  font-family: 'Karla';
  font-size: 31px;
  line-height: 37px;
  margin-bottom: 0;
}

.start-div h4 {
  font-weight: normal;
  line-height: 19px;
  margin-top: 5px;
  text-align: center;
}

.start-button {
  width: 193px;
  height: 52px;
  margin-top: 5px;

  background: #4D5B9E;
  border-radius: 15px;

  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
}

.start-button:focus {
  outline: none;
}

.start-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.trivia-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  min-height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.questions-all-container {
  min-width: 330px;
  margin-top: 0;
}

.questions-all-container h3 {
  font-family: Karla;
  font-size: 16px;
  color: #293264;
  margin: 0;
}

.question-container {
  border-bottom: 0.794239px solid var(--question-divider);
  margin-bottom: 12px;
}

.answer-choices-div {
  display: flex;
  align-items: center;
  height: auto;
  margin: 7px 0 10px 0;
}

.answer-choice {
  min-width: 66px;
  min-height: 25px;
  padding: 0 5px;
  border-radius: 8px;
  margin-right: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--off-white);  
  border: 0.794239px solid #4D5B9E;
}

.answer-choice p {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  
  text-align: center;
  color: #293264;

  margin: 2px 0;
}

.trivia-button {
  width: 120px;
  height: 35px;

  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  
  color: #F5F7FB;
  background: #4D5B9E;
  border-radius: 10px;

  margin-top: 10px;
}